
.background-nav {
    background-color: #e96165;
}

.sub-artistas {
    padding-top: 20px;
}

.sub-imprensa {
    padding-bottom: 10px;
}

.box-cards {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.fw-normal, p {
    text-align: center;
}

.logo {
    width: 50px;
}

.carousel-inner {
    height: 500px;
}

.cards {
width: 350px;
}

.box-imprensa {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

.card-text-imprensa {
    font-size: 12px;
    text-align: justify;
}

.botao-contato {
    display: flex;
    justify-content: center;
    padding: 30px;
}
